label {
color: #777777;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
input#name, input#email, textarea{
width: 97%;
margin-top: 6px;
margin-bottom: 15px;
padding: 8px;
border: 1px solid #dddddd;
}
input#submit_button {
background-color: #4aaaa5;
color: white;
padding: 10px 25px;
border: none;
cursor: pointer;
}

@media screen and (max-width: 980px, 768px, 640px)